<ng-template #loadingContainerParent>
    <div [animatedBeforeNgIf]="!isPrepared ? { template: loadingContainer } : { animation: viewState.getGameEntityAnimation('LoadingContainer') }"
        (animationPlayed)="onLoadingComponentDestroying()"></div>
    <ng-template #loadingContainer>
        <loading-root [text]="(stateToString != 'NotDisplayed') ? 'Field' : 'Game'"></loading-root>
    </ng-template>
</ng-template>

<div class="game">
    <div *ngIf="(stateToString == 'NotDisplayed')">
        <ng-container *ngTemplateOutlet="loadingContainerParent"></ng-container>
    </div>
    <div class="topOutField" [style.display]="viewState.getOutFieldDisplayType(state, gameLogicService)">
        <div class="topOutFieldContainer">
            <a class="mainRef" [routerLink]="['/main']">Main</a>
        </div>
        <div class="topOutFieldContainer" [style.display]="viewState.getRestartButtonContainerDisplayType(gameLogicService.gameState)">
            <div class="actionButton restart" [@restartButtonTrigger]="viewState.getRestartButtonDisplayType(gameLogicService, state)"
                (click)="restartGame()">Restart</div>
        </div>
    </div>
    <div>
        <div *ngIf="(gameLogicService.gameStateToString == 'NotInitialized'); then emptyField else nonEmptyField"></div>
        <ng-template #emptyField>
            <h2 class="emptyText" [@emptyTrigger]="viewState.getGameInitializationAttemptsCountRestNumberType(gameLogicService.gameInitializationAttemptsCountRest)">
                The generated field is incorrect. Please return to the main screen or restart ({{gameLogicService.gameInitializationAttemptsCountRest}} attempts left).
            </h2>
        </ng-template>
        <ng-template #nonEmptyField>
            <div *animatedBeforeNgIf="(gameLogicService.gameStateToString == 'Finished') ? { animation: viewState.getGameEntityAnimation('Field'), template: finishedField } : { template: nonFinishedField }"></div>
            <ng-template #finishedField>
                <h2 class="finishedText">
                    The game is finished. Please restart it or return to the main screen.
                </h2>
            </ng-template>
            <ng-template #nonFinishedField>
                <div class="gameDomain">
                    <snake-direction-dashboard-root></snake-direction-dashboard-root>
                    <div>
                        <field-root (loadingProgressChanged)="onLoadingProgressChanged($event)" (fieldRendered)="onFieldRendered()"
                            (fieldReseted)="onFieldReseted()"></field-root>
                        <div *ngIf="(stateToString == 'NonActive')">
                            <ng-container *ngTemplateOutlet="loadingContainerParent"></ng-container>
                        </div>
                    </div>
                    <snake-length-dashboard-root></snake-length-dashboard-root>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div *ngIf="(gameLogicService.gameStateToString != 'NotInitialized')">
        <div *animatedBeforeNgIf="(gameLogicService.gameStateToString != 'Finished') ? { template: startButtonContainer } : { animation: viewState.getGameEntityAnimation('StartButton') }"></div>
        <ng-template #startButtonContainer>
            <div class="bottomOutField" [style.display]="viewState.getOutFieldDisplayType(state, gameLogicService)">
                <div class="actionButton start" [@startButtonTrigger]="viewState.getExtendedComponentState(state, gameLogicService.gameState)"
                    (click)="changeGameState()">
                    {{((gameLogicService.gameStateToString == 'NotStarted') || (gameLogicService.gameStateToString == 'Finished')) ? 'Start' : ((gameLogicService.gameStateToString == 'Started') ? 'Pause' : 'Go on')}}
                </div>
            </div>
        </ng-template>
    </div>
</div>